# docker run -d --rm --name mongo -p 27017:27017 -v mongodbdata:/data/db mongo:latest

version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodbdata:/data/db
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: unless-stopped
    volumes:
      - rabbitmqdata:/var/lib/rabbitmq
    hostname: rabbitmq # Set the hostname for RabbitMQ to know its own name in the cluster

volumes:
  mongodbdata:
  rabbitmqdata: